---
import SecondaryLayout from "../layouts/SecondaryLayout.astro";
import Abonnements from "../components/card_abonnement.astro";
import Anmeldelse from "../components/card_anmeldelse.astro";
import SoMe_large from "../components/some_large.astro";
import SoMe_small from "../components/some_small.astro";
import Goersom from "../components/goersom.astro";
import { Image } from "astro:assets";
import figure_blue from "../assets/images/section_1.svg";
import large1 from "../assets/images/large_1.webp";
import hero_blue from "../assets/images/figure_blue.svg";
import hero_brown from "../assets/images/figure_brown.svg";
import hero_image from "../assets/images/figure_1.webp";
import arrow from "../assets/images/icon_arrow.svg";
import Linket from "../components/Linket.astro";
import Steps from "../components/5steps.astro";

const schemamarkup = {
  "@context": "https://schema.org/",
  "@type": "HowTo",
  name: "5 Steps til at komme i gang",
  description: "En guide til at blive en del af Det Kollektive Klædeskab.",
  step: [
    {
      "@type": "HowToStep",
      text: "Meld dig ind i Klædeskabet",
      image: "https://detkollektiveklaedeskab.netlify.app/skab.gif",
      name: "1",
    },
    {
      "@type": "HowToStep",
      text: "Find det tøj du ikke længere bruger",
      image: "https://detkollektiveklaedeskab.netlify.app/toj.gif",
      name: "2",
    },
    {
      "@type": "HowToStep",
      text: "Aflevér tøjet i butikken",
      image: "https://detkollektiveklaedeskab.netlify.app/kasser.gif",
      name: "3",
    },
    {
      "@type": "HowToStep",
      text: "Modtag point for tøjet",
      image: "https://detkollektiveklaedeskab.netlify.app/telefon.gif",
      name: "4",
    },
    {
      "@type": "HowToStep",
      text: "Brug pointene til at handle nyt genbrugstøj",
      image: "https://detkollektiveklaedeskab.netlify.app/tasker.gif",
      name: "5",
    },
  ],
};
---

<SecondaryLayout title="Det Kollektive Klædeskab" description="Det Kollektive Klædeskab har flere butikker, hvor du kan bytte genrbugstøj" ogtitle="Det Kollektive Klædeskab" ogdescription="Bytte af genbrugstøj">
  <!-- Hero på mobile -->
  <article class="lg:hidden md:grid md:grid-cols-2">
    <div class="max-w-[20.375rem] md:max-w-[43rem] mx-auto flex flex-col gap-xl ml-7">
      <h1 class="text-h1_m font-bold font-display text-brown-800">Mode skal deles og ikke spildes</h1>
      <div class="flex flex-col gap-m">
        <Linket href="/abonnement" cardimage_r="/red_l.svg" cardimage_l="/red_r.svg" cardimage_r_alt="rød højre side" cardimage_l_alt="rød venstre side">Se abonnementer</Linket>
        <Linket href="/koncept" cardimage_r="/red_l.svg" cardimage_l="/red_r.svg" cardimage_r_alt="rød højre side" cardimage_l_alt="rød venstre side">Sådan gør du</Linket>
      </div>
    </div>
    <div class="relative">
      <Image src={hero_brown} alt="Brun figur" class="absolute top-40 w-96 right-0 md:top-0" />
      <Image src={hero_image} alt="Billede af pige i butik" class="absolute top-20 w-80 right-5 md:top-5" />
      <Image src={hero_blue} alt="Blå figur" class="absolute top-80 w-48 right-5 md:top-52" />
    </div>
  </article>
  <article class="cursor cursor-blue_yellow_cursor">
    <!-- Hero på desktop -->
    <div class="parallaxgrafik fullwidthsection hidden lg:block">
      <div class="sticky top-0 left-0 right-0 bottom-0 h-screen w-full bg-cover bg-center overflow-hidden" style="background-image: url('/hero_bg.png');">
        <div class="relative">
          <Image src={hero_blue} alt="Blå figur" class="absolute parallaxgrafik1 z-10 h-screen w-auto" />
          <Image src={hero_brown} alt="Brun figur" class="absolute parallaxgrafik2 z-10 h-screen w-auto" />
          <div class="absolute top-15xl 2xl:top-18xl z-30 parallaxgrafik4 flex flex-col gap-xl">
            <h1 class="text-h1_d font-display text-yellow-500 font-bold">Fordi mode <br /> skal deles og <br /> ikke spildes</h1>
            <div class="flex flex-col gap-m max-w-[250px]">
              <Linket href="/abonnement" variant="secondary" hover="hover" cardimage_r="/yellow_l.svg" cardimage_l="/yellow_r.svg" cardimage_r_alt="gul højre side" cardimage_l_alt="gul venstre side">Se abonnementer</Linket>
              <Linket href="/koncept" variant="secondary" hover="hover" cardimage_r="/yellow_l.svg" cardimage_l="/yellow_r.svg" cardimage_r_alt="gul højre side" cardimage_l_alt="gul venstre side">Forstå konceptet</Linket>
            </div>
          </div>
          <Image src={hero_image} alt="Billede af pige i butik" class="absolute parallaxgrafik3 z-50 h-screen w-auto" />
        </div>
        <div class="absolute bottom-4 left-[45%] place-items-center z-50">
          <div class="flex">
            <Image class="" src={arrow} alt="Ikon-pil" />
            <h6 class="text-h6_m font-sans text-brown-800 font-bold md:text-h6_d">Scoll ned</h6>
          </div>
        </div>
      </div>
      <div class="h-[300vh]"></div>
    </div>
    <section class="mb-9xl md:pt-12xl lg:pt-19xl lg:pb-10xl max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto cursor cursor-blue_yellow_cursor">
      <h1 class="mt-[600px] md:mt-0 text-h1_m md:text-h2_d lg:text-h1_d font-display text-brown-800 text-center mb-2xl md:mb-5xl">Byt dit tøj <br /> Forny din stil</h1>
      <div class="md:flex md:flex-row md:justify-center md:gap-2xl grid justify-items-center gap-m">
        <div class="md:max-w-70">
          <Linket href="#" cardimage_r="/red_l.svg" cardimage_l="/red_r.svg" cardimage_r_alt="rød højre side" cardimage_l_alt="rød venstre side">Tilmeld nyhedsbrev</Linket>
        </div>
        <div class="md:max-w-60">
          <Linket href="/koncept" cardimage_r="/red_l.svg" cardimage_l="/red_r.svg" cardimage_r_alt="rød højre side" cardimage_l_alt="rød venstre side">Forstå konceptet</Linket>
        </div>
      </div>
    </section>
    <section class="cursor cursor-yellow_blue_cursor">
      <div class="z-30">
        <Image class="flip_horisontal w-full -mb-1" src={figure_blue} alt="Blå bue" />
        <div class="bg-blue-500 h-[900px] md:h-[528px] xl:h-[428px]"></div>
        <Image class="flip_vertikal w-full -mt-1" src={figure_blue} alt="Blå bue" />
      </div>
      <div class="mt-[-900px] md:mt-[-600px] lg:mt-[-550px] max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
        <h1 class="text-center grid justify-center pb-m text-h2_m font-display text-neutrals-50 font-bold lg:text-h2_d max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto mb-xl">Vælg dit abonnement</h1>
        <div class="grid grid-cols-12 space-y-l md:space-y-0 md:gap-l">
          <div class="z-50 col-start-1 col-span-12 md:col-start-1 md:col-span-6 lg:col-start-2 lg:col-span-5 xl:col-start-3 xl:col-span-4">
            <Abonnements url="/koeb_basis1" badge="false" type="Basis" pris="199" icon1="/check_black.svg" iconalt1="Sort check-ikon" icon2="/check_black.svg" iconalt2="Sort check-ikon" icon3="/check_black.svg" iconalt3="Sort check-ikon" icon4="/cross_red.svg" iconalt4="Rødt kryds-ikon" icon5="/cross_red.svg" iconalt5="Rødt kryds-ikon" />
          </div>
          <div class="z-50 col-start-1 col-span-12 md:col-start-7 md:col-span-6 lg:col-start-7 lg:col-span-5 xl:col-start-7 xl:col-span-4">
            <Abonnements url="/koeb_plus" badge="true" type="Plus" pris="299" icon1="/check_black.svg" iconalt1="Sort check-ikon" icon2="/check_black.svg" iconalt2="Sort check-ikon" icon3="/check_black.svg" iconalt3="Sort check-ikon" icon4="/check_black.svg" iconalt4="Sort check-ikon" icon5="/check_black.svg" iconalt5="Sort check-ikon" />
          </div>
        </div>
      </div>
    </section>
    <section class="py-10xl lg:py-16xl">
      <Steps />
    </section>

    <section>
      <Image class="w-full" src={large1} alt="Baggrund med pige i klædeskabet" />
    </section>

    <section class="my-8xl lg:my-12xl max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
      <Goersom />
      <div class="mt-2xl md:max-w-60">
        <Linket href="/kontakt" cardimage_r="/red_l.svg" cardimage_l="/red_r.svg" cardimage_r_alt="rød højre side" cardimage_l_alt="rød venstre side">Se butikker</Linket>
      </div>
    </section>
    <section class="cursor cursor-yellow_blue_cursor">
      <div class="z-30">
        <Image class="flip_horisontal w-full -mb-1" src={figure_blue} alt="Blå bue" />
        <div class="bg-blue-500 h-[1800px] md:h-[2000px] lg:h-[550px] xl:h-[450px] 2xl:h-[480px]"></div>
        <Image class="flip_vertikal w-full -mt-1" src={figure_blue} alt="Blå bue" />
      </div>
      <div class="mt-[-1800px] md:mt-[-2000px] lg:mt-[-630px] xl:mt-[-580px] 2xl:mt-[-600px] max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
        <h2 class="text-h2_m font-display font-bold text-neutrals-50 md:text-h2_d text-center mb-xl">Vi deler klædeskab</h2>
        <div class="z-50 relative grid gap-2xl lg:grid-cols-3">
          <Anmeldelse
            url="#"
            cardimage="anmeldelse_1.webp"
            cardimagealt="Ung kvinde"
            overskrift="Sofia, 24 år"
            underoverskrift="Himmelev, Roskilde"
            anmeldelse="For mig er Det Kollektive Klædeskab en bæredygtig måde at forny garderoben på. Med et billigt månedligt abonnement kan jeg aflevere tøj og bytte det til nyt. Konceptet fungerer virkelig godt."
          />
          <Anmeldelse
            url="#"
            cardimage="anmeldelse_2.webp"
            cardimagealt="Moden dame"
            overskrift="Marie, 20 år"
            underoverskrift="Nørrebro, København"
            anmeldelse="For mig er Det Kollektive Klædeskab en bæredygtig måde at forny garderoben på. Med et billigt månedligt abonnement kan jeg aflevere tøj og bytte det til nyt. Konceptet fungerer virkelig godt."
          />
          <Anmeldelse
            url="#"
            cardimage="anmeldelse_3.webp"
            cardimagealt="Ung mand"
            overskrift="Jonas, 27 år"
            underoverskrift="Vesterbro, København"
            anmeldelse="For mig er Det Kollektive Klædeskab en bæredygtig måde at forny garderoben på. Med et billigt månedligt abonnement kan jeg aflevere tøj og bytte det til nyt. Konceptet fungerer virkelig godt."
          />
        </div>
      </div>
    </section>
    <section class="py-8xl lg:py-18xl space-y-l max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
      <h2 class="font-display text-h2_m lg:text-h2_d font-bold text-brown-800 text-center">Følg os</h2>
      <div class="grid gap-sm lg:grid-cols-5">
        <div class="grid gap-sm lg:grid-cols-2 col-span-2">
          <SoMe_large url="" video="some_large1.mov" videoalt="Video fra socialt medie" icon="icon_instagram.svg" iconalt="Instagram-logo" some="Instagram" />
          <div class="grid gap-sm grid-cols-2 lg:grid-cols-1">
            <SoMe_small url="" image="some_1.webp" imagealt="Billede fra socialt medie" icon="icon_instagram.svg" iconalt="Instagram-logo" some="Instagram" />
            <SoMe_small url="" image="some_2.webp" imagealt="Billede fra socialt medie" icon="icon_tiktok.svg" iconalt="Tiktok-logo" some="TikTok" />
          </div>
        </div>
        <div class="grid gap-sm lg:grid-cols-2 col-span-2">
          <div class="grid gap-sm grid-cols-2 lg:grid-cols-1">
            <SoMe_small url="" image="some_3.webp" imagealt="Billede fra socialt medie" icon="icon_tiktok.svg" iconalt="Tiktok-logo" some="TikTok" />
            <SoMe_small url="" image="some_4.webp" imagealt="Billede fra socialt medie" icon="icon_instagram.svg" iconalt="Instagram-logo" some="Instagram" />
          </div>
          <SoMe_large url="" video="some_large2.mov" videoalt="Video fra socialt medie" icon="icon_tiktok.svg" iconalt="Tiktok-logo" some="TikTok" />
        </div>
        <div class="grid gap-sm col-span-2 grid-cols-2 lg:grid-cols-1 lg:col-span-1">
          <SoMe_small url="" image="some_5.webp" imagealt="Billede fra socialt medie" icon="icon_instagram.svg" iconalt="Instagram-logo" some="Instagram" />
          <SoMe_small url="" image="some_6.webp" imagealt="Billede fra socialt medie" icon="icon_tiktok.svg" iconalt="Tiktok-logo" some="TikTok" />
        </div>
      </div>
    </section>
  </article></SecondaryLayout
>

<script>
  import { animate, scroll } from "motion";

  const screenwidth = window.innerWidth;

  if (screenwidth > 1500) {
    console.log("stor");
    scroll(animate(".parallaxgrafik1", { x: [-500, -1100] }), {
      target: document.querySelector(".parallaxgrafik"),
      offset: ["start end", "end start"],
    });
    scroll(animate(".parallaxgrafik2", { x: [700, 50] }), {
      target: document.querySelector(".parallaxgrafik"),
      offset: ["start end", "end start"],
    });
    scroll(animate(".parallaxgrafik3", { x: [750, 1700] }), {
      target: document.querySelector(".parallaxgrafik"),
      offset: ["start end", "end start"],
    });
    scroll(animate(".parallaxgrafik4", { x: [2000, 200] }), {
      target: document.querySelector(".parallaxgrafik"),
      offset: ["start end", "end start"],
    });
  } else {
    console.log(screenwidth);
    scroll(animate(".parallaxgrafik1", { x: [-600, -1100] }), {
      target: document.querySelector(".parallaxgrafik"),
      offset: ["start end", "end start"],
    });
    scroll(animate(".parallaxgrafik2", { x: [500, 50] }), {
      target: document.querySelector(".parallaxgrafik"),
      offset: ["start end", "end start"],
    });
    scroll(animate(".parallaxgrafik3", { x: [600, 1700] }), {
      target: document.querySelector(".parallaxgrafik"),
      offset: ["start end", "end start"],
    });
    scroll(animate(".parallaxgrafik4", { x: [1800, 100] }), {
      target: document.querySelector(".parallaxgrafik"),
      offset: ["start end", "end start"],
    });
  }
</script>

<script type="application/ld+json"></script>
