---
import Forms from "../components/forms.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Card_forms from "../components/card_forms.astro";
import { Image } from "astro:assets";
import line from "../assets/images/line.svg";
import line_mobile from "../assets/images/linemobil.svg";
import linemd from "../assets/images/linemd.svg";
---

<MainLayout title="Titel">
  <section class="max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
    <div class="flex flex-cols mb-l md:mb-3xl justify-center">
      <Link variant="progres" hover="hover" href="/koeb_basis1">1</Link>
      <Image class="hidden lg:flex" src={line} alt="Gruppebillede" />
      <Image class="hidden md:flex lg:hidden" src={linemd} alt="Gruppebillede" />
      <Image class="lg:hidden md:hidden" src={line_mobile} alt="Gruppebillede" />
      <Link variant="progres" hover="hover" href="/koeb_basis2">2</Link>
      <Image class="hidden lg:flex" src={line} alt="Gruppebillede" />
      <Image class="hidden md:flex lg:hidden" src={linemd} alt="Gruppebillede" />
      <Image class="lg:hidden md:hidden" src={line_mobile} alt="Gruppebillede" />
      <p class="w-ml h-ml border-border-2 font-bold border-brown-800 rounded-border-radius-full text-p text-brown-800 flex items-center justify-center">3</p>
    </div>
    <h3 class="text-h3_m lg:text-h3_d font-display md:text-center text-brown-800 mb-2xl">Indtast kontaktoplysninger</h3>
    <article class="md:grid md:grid-cols-2 md:gap-4xl md:grid-rows-1">
      <div class="col-start-1 md:col-start-2 mb-4xl">
        <Forms />
      </div>
      <div class="col-start-2 md:col-start-1 md:row-start-1 mb-4xl">
        <Card_forms type="Basis" , butik="Roskilde" , point="0" , uden_moms="159,20" , moms="39,80" , ialt="199" />
      </div>
    </article>
  </section></MainLayout
>
