---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import line from "../assets/images/line.svg";
import line_mobile from "../assets/images/linemobil.svg";
import linemd from "../assets/images/linemd.svg";
---

<MainLayout title="Titel">
  <section class="max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto mb-13xl">
    <div class="flex flex-cols mb-l md:mb-3xl">
      <Link variant="progres" hover="hover" href="/koeb_basis1">1</Link>
      <Image class="hidden lg:flex" src={line} alt="Gruppebillede" />
      <Image class="hidden md:flex lg:hidden" src={linemd} alt="Gruppebillede" />
      <Image class="lg:hidden md:hidden" src={line_mobile} alt="Gruppebillede" />
      <p class="w-ml h-ml md:w-ml md:h-ml border-border-2 font-bold border-brown-800 rounded-border-radius-full text-p text-brown-800 flex items-center justify-center">2</p>
      <Image class="hidden lg:flex" src={line} alt="Gruppebillede" />
      <Image class="hidden md:flex lg:hidden" src={linemd} alt="Gruppebillede" />
      <Image class="lg:hidden md:hidden" src={line_mobile} alt="Gruppebillede" />
      <p class="w-ml h-ml border-border-2 font-bold border-brown-800 rounded-border-radius-full text-p text-brown-800 flex items-center justify-center">3</p>
    </div>
    <section class="mb-3xl md:mb-xl">
      <h2 class="text-h2_m lg:text-h2_d font-display text-brown-800 mb-m md:mb-sm">Vælg butik</h2>
      <p class="text-p font-sans">Vælg den butik nedenfor, som du ønsker at blive tilknyttet.</p>
      <p class="text-p font-sans">Med et Basis-abonnement, er den valgte butik den eneste butik, som du kan benytte.</p>
    </section>

    <section class="grid grid-cols-2 gap-sm md:gap-ml md:mb-xl lg:max-w-[40rem] mb-3xl" x-data="{ selected: '' }">
      <!-- Hjælp fra Chat-GPT -->
      <!-- Roskilde -->
      <p class="md:rounded-border-radius-43 rounded-border-radius-11 border-none md:py-l py-m px-m md:min-w-[16.125rem] text-h5_m font-bold font-sans md:text-h5_d cursor-pointer flex items-center justify-center" :class="{ 'bg-green-500 text-white': selected === 'roskilde', 'bg-neutrals-50': selected !== 'roskilde' }" x-on:click="selected = 'roskilde'">
        Roskilde<span class="nowrap"><img x-show="selected === 'roskilde'" src="/check_darkgreen.svg" alt="Checkmark ikon" class="h-6 w-6 ml-2" /></span>
      </p>

      <!-- Aarhus -->
      <p class="md:rounded-border-radius-43 rounded-border-radius-11 border-none md:py-l py-m px-m md:min-w-[16.125rem] text-h5_m font-bold font-sans md:text-h5_d cursor-pointer flex items-center justify-center" :class="{ 'bg-green-500 text-white': selected === 'aarhus', 'bg-neutrals-50': selected !== 'aarhus' }" x-on:click="selected = 'aarhus'">
        Aarhus<span class="nowrap"><img x-show="selected === 'aarhus'" src="/check_darkgreen.svg" alt="Checkmark ikon" class="h-6 w-6 ml-2" /></span>
      </p>

      <!-- Nørrebro -->
      <p class="md:rounded-border-radius-43 rounded-border-radius-11 border-none md:py-l py-m px-m md:min-w-[16.125rem] text-h5_m font-bold font-sans md:text-h5_d cursor-pointer flex items-center justify-center" :class="{ 'bg-green-500 text-white': selected === 'bro', 'bg-neutrals-50': selected !== 'bro' }" x-on:click="selected = 'bro'">
        Nørrebro<span class="nowrap"><img x-show="selected === 'bro'" src="/check_darkgreen.svg" alt="Checkmark ikon" class="h-6 w-6 ml-2" /></span>
      </p>

      <!-- Vesterbro -->
      <p class="md:rounded-border-radius-43 rounded-border-radius-11 border-none md:py-l py-m px-m md:min-w-[16.125rem] text-h5_m font-bold font-sans md:text-h5_d cursor-pointer flex items-center justify-center" :class="{ 'bg-green-500 text-white': selected === 'vesterbro', 'bg-neutrals-50': selected !== 'vesterbro' }" x-on:click="selected = 'vesterbro'">
        Vesterbro<span class="nowrap"><img x-show="selected === 'vesterbro'" src="/check_darkgreen.svg" alt="Checkmark ikon" class="h-6 w-6 ml-2" /></span>
      </p>
    </section>
    <Link variant="primary" left="red_l" right="red_r" hover="hover" href="/koeb_basis2">Næste</Link>
  </section>
</MainLayout>
