---
import { Image } from "astro:assets";
import figure1 from "../assets/images/figure_1.webp";
import skab from "../assets/images/skab.svg";
---

<div class="overflow-clip hidden md:flex">
  <section id="horisontalscrollsection" class="h-[600vw]">
    <ul id="horisontalliste" class="list-none pl-0 flex sticky top-[16vh]">
      <!-- Tekst w-[30vw] -->
      <li class="grid grid-cols content-center ml-12xl lg:w-[40vw] 2xl:w-[25vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <figure class="flex flex-row max-w-[1000px]">
          <h1 class="text-h1_d font-display text-brown-800 text-right">5 Steps <br /> til at <br /> komme<br /> i gang</h1>
        </figure>
      </li>
      <!-- Step 1 -->
      <li class="items-center pl-0 flex lg:w-[60vw] 2xl:w-[50vw] justify-center flex-col md:flex-row overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <figure class="flex flex-row max-w-[1000px]">
          <h1 class="md:text-[610px] text-brown-800 leading-none font-sans mr-[-25px]">1</h1>
          <div class="flex flex-col justify-center">
            <figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Meld dig ind <br /> i Klædeskabet</figcaption>
            <img src="/skab.gif" class="flex justify-center max-w-20xl" alt="gif af skab" />
          </div>
        </figure>
      </li>
      <!-- Step 2 -->
      <li class="pl-0 flex lg:w-[120vw] 2xl:w-[60vw] items-start justify-center flex-col md:flex-row overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <figure class="flex flex-row max-w-[1000px]">
          <h1 class="md:text-[610px] text-brown-800 leading-none font-sans pr-ml">2</h1>
          <div class="flex flex-col justify-center gap-m">
            <figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Find det tøj du <br /> ikke længere bruger</figcaption>
            <img src="/toj.gif" class="flex justify-center max-w-20xl" alt="gif af tøj" />
          </div>
        </figure>
      </li>
      <!-- Step 3 -->
      <li class="pl-0 flex lg:w-[70vw] 2xl:w-[50vw] items-start justify-center flex-col md:flex-row overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <figure class="flex flex-row max-w-[1000px]">
          <h1 class="md:text-[610px] text-brown-800 leading-none font-sans pr-ml">3</h1>
          <div class="flex flex-col justify-center">
            <figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Aflevér tøjet <br /> i butikken</figcaption>
            <img src="/kasser.gif" class="flex justify-center max-w-20xl" alt="gif af kasser" />
          </div>
        </figure>
      </li>
      <!-- Step 4 -->
      <li class="pl-0 flex lg:w-[120vw] 2xl:w-[60vw] items-start justify-center flex-col md:flex-row overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <figure class="flex flex-row max-w-[1000px]">
          <h1 class="md:text-[610px] text-brown-800 leading-none font-sans pr-ml">4</h1>
          <div class="flex flex-col justify-center gap-5xl">
            <figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Modtag point <br /> for tøjet</figcaption>
            <img src="/telefon.gif" class="flex justify-center max-w-18xl" alt="gif af telefon med point" />
          </div>
        </figure>
      </li>
      <!-- Step 5 -->
      <li class="pl-0 flex lg:w-[60vw] 2xl:w-[60vw] items-start justify-center flex-col md:flex-row overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
        <figure class="flex flex-row max-w-[1000px]">
          <h1 class="md:text-[610px] text-brown-800 leading-none font-sans pr-ml">5</h1>
          <div class="flex flex-col justify-center">
            <figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Brug pointene <br /> til at handle nyt genbrugstøj</figcaption>
            <img src="/tasker.gif" class="flex justify-center max-w-20xl" alt="gif af tasker" />
          </div>
        </figure>
      </li>
    </ul>
  </section>
</div>

<section class="max-w-[20.375rem] md:max-w-[43rem] lg:max-w-[58rem] xl:max-w-[70rem] 2xl:max-w-[87rem] mx-auto">
  <div>
    <h1 class="text-[250px] md:text-[610px] text-brown-800 leading-none font-sans mr-[-25px]">1</h1>
    <figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Find det tøj du <br /> ikke længere bruger</figcaption>
    <img src="/skab.gif" class="flex justify-center max-w-20xl" alt="gif af tøj" />
  </div>
  <div>
    <h1 class="text-[250px] md:text-[610px] text-brown-800 leading-none font-sans mr-[-25px]">1</h1>
    <figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Find det tøj du <br /> ikke længere bruger</figcaption>
    <img src="/toj.gif" class="flex justify-center max-w-20xl" alt="gif af tøj" />
  </div>
  <div>
    <h1 class="text-[250px] md:text-[610px] text-brown-800 leading-none font-sans mr-[-25px]">1</h1>
    <figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Find det tøj du <br /> ikke længere bruger</figcaption>
    <img src="/kasser.gif" class="flex justify-center max-w-20xl" alt="gif af tøj" />
  </div>
  <div>
    <h1 class="text-[250px] md:text-[610px] text-brown-800 leading-none font-sans mr-[-25px]">1</h1>
    <figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Find det tøj du <br /> ikke længere bruger</figcaption>
    <img src="/telefon.gif" class="flex justify-center max-w-20xl" alt="gif af tøj" />
  </div>
  <div>
    <h1 class="text-[250px] md:text-[610px] text-brown-800 leading-none font-sans mr-[-25px]">1</h1>
    <figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Find det tøj du <br /> ikke længere bruger</figcaption>
    <img src="/tasker.gif" class="flex justify-center max-w-20xl" alt="gif af tøj" />
  </div>
</section>

<!-- Forsøg på at få mobilen til at virke -->
<!-- <div class="overflow-clip">
  <section id="horisontalscrollsection" class="h-[600vw]">
    <ul id="horisontalliste" class="list-none pl-0 flex sticky top-[10vh]">
      <li class="grid grid-cols content-center ml-12xl md:w-[30vw] overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[1000px]"><h1 class="md:text-h1_d text-h1_m font-display text-brown-800 text-right">5 Steps <br /> til at <br /> komme<br /> i gang</h1></figure></li>
      <li class="pl-0 flex md:w-[60vw] px-xl md:px-0 items-start md:flex-row overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[1000px]"><h1 class="md:text-[710px] text-[200px] text-brown-800 leading-none">1</h1><div class="flex flex-col justify-between pt-10xl pb-5xl"><figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Køb abonnement</figcaption><Image src={skab} class="flex justify-center md:max-w-20xl max-w-[200px]" alt="klædeskab" /></div></figure></li>
      <li class="pl-0 flex md:w-[90vw] items-start justify-center flex-col md:flex-row overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[1000px]"><h1 class="md:text-[710px] text-[200px] text-brown-800 leading-none pr-2xl">2</h1><div class="flex flex-col justify-between pt-10xl pb-5xl"><figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Køb abonnement</figcaption><Image src={skab} class="flex justify-center md:max-w-20xl max-w-[200px]" alt="klædeskab" /></div></figure></li>
      <li class="pl-0 flex md:w-[80vw] items-start justify-center flex-col md:flex-row overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[1000px]"><h1 class="md:text-[710px] text-[200px] text-brown-800 leading-none pr-2xl">3</h1><div class="flex flex-col justify-between pt-10xl pb-5xl"><figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Køb abonnement</figcaption><Image src={skab} class="flex justify-center md:max-w-20xl max-w-[200px]" alt="klædeskab" /></div></figure></li>
      <li class="pl-0 flex md:w-[80vw] items-start justify-center flex-col md:flex-row overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[1000px]"><h1 class="md:text-[710px] text-[200px] text-brown-800 leading-none pr-2xl">4</h1><div class="flex flex-col justify-between pt-10xl pb-5xl"><figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Køb abonnement</figcaption><Image src={skab} class="flex justify-center md:max-w-20xl max-w-[200px]" alt="klædeskab" /></div></figure></li>
      <li class="pl-0 flex md:w-[80vw] items-start justify-center flex-col md:flex-row overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[1000px]"><h1 class="md:text-[710px] text-[200px] text-brown-800 leading-none pr-2xl">5</h1><div class="flex flex-col justify-between pt-10xl pb-5xl"><figcaption class="text-h3_m md:text-h3_d font-display text-brown-800">Køb abonnement</figcaption><Image src={skab} class="flex justify-center md:max-w-20xl max-w-[200px]" alt="klædeskab" /></div></figure></li>
    </ul>
  </section>
</div> -->

<script>
  /* Import af Motion One biblioteket */
  import { animate, stagger, inView, scroll, timeline } from "motion";

  const items = document.querySelectorAll("#horisontalliste li");
  scroll(
    animate("#horisontalliste", {
      transform: ["none", `translateX(-${items.length - 2}00vw)`],
    }),
    { target: document.querySelector("#horisontalscrollsection") }
  );
</script>
