---
const { url = "#", badge = "false", type = "", pris = "", icon1 = "", iconalt1 = "", icon2 = "", iconalt2 = "", icon3 = "", iconalt3 = "", icon4 = "", iconalt4 = "", icon5 = "", iconalt5 = "" } = Astro.props;
import { Image } from "astro:assets";
import icon_ckeck_black from "../assets/images/icon_check_black.svg";
import icon_cross_red from "../assets/images/icon_cross_red.svg";
import Link from "../components/Link.astro";
---

<article class="card bg-neutrals-50 rounded-border-radius-43 @container hover:scale-105 transition-transform cursor-pointer">
  <a href={url} class="flex flex-col">
    <div class="relative">
      {badge === "true" && <div class="badge absolute rounded-border-radius-full text-button_m font-sans font-bold bg-yellow-700 px-ml py-xxs top-ml right-ml lg:text-button_d z-40">Populær</div>}
    </div>
    <section class="py-2xl px-ml lg:px-xl">
      <div class="space-y-ml pb-ml">
        <div class="space-y-xxs">
          <h4 class="text-h4_m font-sans font-bold lg:text-h4_d">{type}</h4>
          <h5 class="text-h5_m font-sans font-bold lg:text-h5_d">Abonnement</h5>
        </div>
        <div class="space-y-sm">
          <div class="flex gap-s">
            <!-- <Image src={icon_ckeck_black} alt="sort check-ikon" /> -->
            <img src={icon1} alt={iconalt1} />
            <p class="text-p font-sans font-regular">Meld dig ind online</p>
          </div>
          <div class="flex gap-s">
            <!-- <Image src={icon_ckeck_black} alt="sort check-ikon" /> -->
            <img src={icon2} alt={iconalt2} />
            <p class="text-p font-sans font-regular">Opnå point for brugt tøj</p>
          </div>
          <div class="flex gap-s">
            <!-- <Image src={icon_ckeck_black} alt="sort check-ikon" /> -->
            <img src={icon3} alt={iconalt3} />
            <p class="text-p font-sans font-regular">Byt tøj for dine point</p>
          </div>
          <div class="flex gap-s">
            <!-- <Image src={icon_cross_red} alt="sort check-ikon" /> -->
            <img src={icon4} alt={iconalt4} />
            <p class="text-p font-sans font-regular">Adgang til alle butikker</p>
          </div>
          <div class="flex gap-s">
            <!-- <Image src={icon_cross_red} alt="sort check-ikon" /> -->
            <img src={icon5} alt={iconalt5} />
            <p class="text-p font-sans font-regular">Månedlige bonuspoint</p>
          </div>
        </div>
        <h5 class="h5_m font-sans font-bold lg:text-h5_d"><span>{pris}</span> kr./md.</h5>
      </div>
      <div class="w-full">
        <Link left="red_l" right="red_r" hover="nothover" variant="primary">Køb abonnement</Link>
      </div>
    </section>
  </a>
</article>
