---
const { url = "#", overskrift = "", underoverskrift = "", anmeldelse = "", cardimage = "", cardimagealt = "" } = Astro.props;
---

<article class="card bg-neutrals-50 rounded-border-radius-43 flex flex-col @container">
  <img src={cardimage} alt={cardimagealt} />
  <!-- <Image src={anmeldelse_1} alt="" /> -->
  <section class="space-y-s p-xl">
    <div>
      <h5 class="text-h5_m font-sans font-bold lg:text-h5_d">{overskrift}</h5>
      <h6 class="text-h6_m font-sans font-bold lg:text-h6_d">{underoverskrift}</h6>
    </div>
    <p class="text-p font-sans font-regular lg:text-p">{anmeldelse}</p>
  </section>
</article>
