---
const { variant = "primary", hover = "hover", href = "", target = "", cursor = "blue", cardimage_l = "", cardimagealt = "", cardimage_r = "" } = Astro.props;

const buttonStyling = "";

const variantClasses = {
  primary: "bg-red-500 font-sans text-neutrals-950 w-full  py-sm text-p text-button_m font-bold lg:text-button_d lg:font-bold md:px-sm ",
  secondary: "bg-yellow-500 font-sans text-neutrals-950 px-l py-sm text-p text-button_m font-bold lg:text-button_d lg:font-bold md:px-sm",
  header_primary: "text-h2_m font-display font-bold text-brown-800 lg:text-h6_d lg:font-sans",
  header_secondary: "text-h2_m font-display font-bold text-yellow-500 lg:text-h6_d lg:font-sans",
  footerlinks: "text-p text-yellow-500 font-sans",
  paragraphlinks: "text-p",
  paragraphlinks2: "text-p text-neutrals-50",
  progres: "bg-brown-800 w-ml h-ml rounded-border-radius-full text-p text-yellow-500 font-bold",
};
// I cards bruges nothover
const hoverClasses = {
  hover: "flex w-full hover:scale-105 transition-transform ",
  hoverheaderbrown: "flex hover:underline hover:underline-offset-4 hover:decoration-2 hover:decoration-brown-800 transition-transform ",
  hoverheaderyellow: "flex hover:underline hover:underline-offset-4 hover:decoration-2 hover:decoration-yellow-500 transition-transform ",
  nothover: "flex w-full",
  footerhover: "flex hover:underline hover:underline-offset-4 hover:decoration-2 hover:decoration-yellow-500 transition-transform ",
  parapraphhover: "flex hover:underline hover:underline-offset-4 hover:decoration-2 hover:decoration-neutrals-50 transition-transform ",
};

const cursorClasses = {
  blue: "cursor cursor-blue_yellow_cursor",
  yellow: "cursor cursor-yellow_blue_cursor",
};
---

<a href={href} target={target}>
  <div class="flex w-full cursor cursor-blue_yellow_cursor">
    <div class:list={[hoverClasses[hover], cursorClasses[cursor]]}>
      <img src={cardimage_r} alt={cardimagealt} />
      <button class:list={[buttonStyling, variantClasses[variant], cursorClasses[cursor]]}>
        <slot />
      </button>
      <img src={cardimage_l} alt={cardimagealt} />
    </div>
  </div>
</a>
